@import url(https://fonts.googleapis.com/css?family=AbrilFatface&displayswap);

@keyframes bounce {
    0%, 20%, 50%, 80%, to {
    transform: translateX(-2px) 
    translateY(5px)
}
40% {

    transform: rotateY(180deg)
     translatez(-2px) translatey(-35px)
}
60%{

transform: translateX(-2px) translateY(-25px)
}
};
body {

    background-color: #1a1a1a;
    
    background: radial-gradient(circle
    at center, #1a1546, 048411 40%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    perspective: 1000px;
}
h3 {font-size: 3.5rem;
    line-height: 100%;
    transform:rotateX(0) rotatey(-25deg);
    text-transform: uppercase;
    width: 510px;
    text-align: center;
    color:#b9dfff;
    color: #fff;
    font-family: "Zefani";
    font-family: 'Abril Fatface';
    margin:3rem auto;
    position: relative;
    top: 100px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    padding: 2rem 0 9rem;
    text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff;
    span {
        display: inline-block;
    }
}
    .scroll-more{
      color: white;
    text-align: center;
    width: 450px;
    position: absolute;
    bottom: 0rem;
    left: calc(50% - 225px);
    margin: 0 auto;
    font-size: 14rem;
    opacity: 1;
    transition: opacity .3s ease;
    font-family: monospace;
    pointer-events: none;
    z-index: -1; 
    transform-origin: center;
    -webkit-animation: bounce 3s
    cubic-bezier(.37,0,.21,1.02)
    infinite, fonts 5s linear infinite;
    animation: bounce 3s cubic-bezier(.37,0,.21,1.02) infinite, fonts
    5s linear infinite;
}